/* RESET---------------------------------------------------------------------------------------------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER--------------------------------------------------------------------------------------------------------------------------- */

.colorBoton{
    background-color: rgb(0, 0, 0);
}

header nav{
    display: flex;
    background-color: rgb(0, 0, 0);
    position:fixed;
    /*caja*/
    width: 100%;
    justify-content: space-between;
}

.right{
    width: fit-content;
}

.left{
    width: fit-content;
}

header nav div form button a{
    color: white;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* BODY----------------------------------------------------------------------------------------------------------------------------- */

body{
    background-image: url("../imagenes/fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* FOOTER--------------------------------------------------------------------------------------------------------------------------- */

footer{
    height: 20px;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* border-style: solid;
    border-color: black; */
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* CLASES--------------------------------------------------------------------------------------------------------------------------- */

.espacio{
    /*espaciado del nav*/
    padding-top: 50px;
}

.espacio2{
    /*espaciado del nav*/
    padding-top: 50px;
}

.textoMedio{
    margin-top: 130px;
}

.contenedor{
    color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.texto{
    color: white;
    display: flex;
    margin: 5px;
}

.inline{
    display: flex;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.block{
    display: block;
}

.padding{
    padding-left: 50px;
    padding-right: 50px;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */


/* TEXTO---------------------------------------------------------------------------------------------------------------------------- */
h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
}

h4{
    color: white;
}

p{
    color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* DIVS----------------------------------------------------------------------------------------------------------------------------- */

div a{
    text-decoration: none;
    color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

iframe{
    height: 500px;
    width: 500px;
}

label{
    color: white;
}

