//color de los textos a usar
$color-texto: rgb(204, 204, 204);

//color de fondo de etiquetas principales
$color-etiquetas: (rgb(121, 118, 118),rgb(236, 234, 234));

//espaciado entre el nav y el contenido abajo
$espaciado: 60px;